html {
    display: flex;
}

body {
    box-sizing: content-box;
    width: 100vw;
    height: calc(100vh - 16px);

    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(66px, min-content);

    background-color: #000;
    color: #fff;
    padding: 8px;
}